.wrapper {
    display: grid;
    /*place-items:center;*/
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 2fr 3fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #252525;
    margin-top : 150px;
    margin-right: 450px;
    margin-left: 450px;
    padding: 10px;
}
.empty{
    background-color: white;
}
.jaune{
    background-color: rgb(241, 197, 0);
}
.rouge{
    background-color: red;
}
.blue{
    background-color: rgb(14, 14, 106);
}
.black{
    background-color: black;
    color: white;
}
.gris{
    background-color: rgb(175, 175, 175);
}
.vert{
    background-color: rgb(4, 208, 1);
}

  /* 13 de large */
  /* 7 de haut */

  #square1 {
    grid-area: 1/1/3/2;
  }
  #square2 {
    grid-area: 1/2/2/7;
  }
  #square3{
    grid-area: 1/7/2/12; 
  }
  #square4{
    grid-area: 1/12/4/13;
  }
  #square5{
    grid-area: 1/13/4/14;
  }
  #square6{
    grid-area: 2/2/3/7;
  }
  #square7{
    grid-area: 2/7/3/9;
  }
  #square8{
    grid-area: 2/9/3/12;
  }
  #square9{
    grid-area: 3/1/5/2;
  }
  #square10{
    grid-area: 3/2/5/3;
  }
  #square11{
    grid-area: 3/3/7/4;
  }
  #square12{
    grid-area: 3/5/4/5;
  }
  #square13{
    grid-area: 3/4/4/6;
  }
  #square14{
    grid-area: 3/6/4/7;
  }
  #square15{
    grid-area: 3/7/4/9;
  }
  #square16{
    grid-area: 3/9/4/11;
  }
  #square17{
    grid-area: 3/11/4/12;
  }
  #square18{
    grid-area: 4/4/5/5;
  }
  #square19{
    grid-area: 4/5/4/7;
  }
  #square20{
    grid-area: 4/7/4/9;
  }
  #square21{
    grid-area: 4/9/4/11;
  }
  #square22{
    grid-area: 4/11/4/12;
  }
  #square23{
    grid-area: 4/12/4/14;
  }
  #square24{
    grid-area: 5/1/7/2;
  }
  #square25{
    grid-area: 5/2/7/3;
  }
  #square26{
    grid-area: 5/4/9/5;
  }
  #square27{
    grid-area: 5/5/6/8;
  }
  #square28{
    grid-area: 5/8/6/10;  /*5/8/6/11 ?? */
  }
  #square29{
    grid-area: 5/10/6/11;
  }
  #square30{
    grid-area: 5/11/6/12;
  }
  #square31{
    grid-area: 5/12/6/14;
  }
  #square32{
    grid-area: 7/1/9/4;
  }
  #square33{
    grid-area: 6/5/9/7;
  }
  #square34{
    grid-area: 6/7/9/10;
  }
  #square35{
    grid-area: 6/10/9/14;
  }
